<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>855146235616-rm7pro7sefof0ba08hautssb0euudrf7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.855146235616-rm7pro7sefof0ba08hautssb0euudrf7</string>
	<key>API_KEY</key>
	<string>AIzaSyCACLfx082K4HqoVO_GAKsYMO_eZudkSvo</string>
	<key>GCM_SENDER_ID</key>
	<string>855146235616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.zitrotec.blista</string>
	<key>PROJECT_ID</key>
	<string>de-zitrotec-blista</string>
	<key>STORAGE_BUCKET</key>
	<string>de-zitrotec-blista.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855146235616:ios:0a060fac051fddb2</string>
	<key>DATABASE_URL</key>
	<string>https://de-zitrotec-blista.firebaseio.com</string>
</dict>
</plist>